Skytronsystem/db.sqlite3
log.log
Skytronsystem/log.log
Skytronsystem/log.log
Skytronsystem/skytron_api/__pycache__/views.cpython-38.pyc
Skytronsystem/tac_docs/*.pdf
Skytronsystem/skytron_api/migrations/__pycache__/*.pyc
Skytronsystem/skytron_api/migrations/0011_alter_devicecop_created.py
tracking.zip
gps_api.zip
Skytronsystem/*.pdf
Skytronsystem/cop_files/*.pdf
gps_api/migrations/__pycache__/*.pyc
/var/www/html/skytron_backend/staticfiles/*
Skytronsystem/nohup.out
Skytronsystem/log.log
Skytronsystem/tcplog.log
Skytronsystem/*.log
Skytronsystem/skytron_api/__pycache__/*.cpython-38.pyc
Skytronsystem/logtcp.log
Skytronsystem/*.pdf
Skytronsystem/*.sqlite3
Skytronsystem/*.log
Skytronsystem/*.out
Skytronsystem/*.zip
Skytronsystem/kyc_files/*
Skytronsystem/file_bin/*
Skytronsystem/cop_files/*
Skytronsystem/Skytronsystem/__pycache__/settings.cpython-38.pyc
Skytronsystem/nohup.out
Skytronsystem/logtcp.log
Skytronsystem/log.log
nohup.out
Skytronsystem/logtcp.log
Skytronsystem/logtcp.log
logtcp.log
tcplogem.log
Skytronsystem/man/*.png
Skytronsystem/Skytronsystem/__pycache__/wsgi.cpython-38.pyc
Skytronsystem/Skytronsystem/__pycache__/wsgi.cpython-38.pyc
db.json
Skytronsystem/man/*.*
