<!-- SkytronServer/gps_api/templates/emergency_call_listener.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Call Listener</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var i = 1;
        function showPopup(ret) {
            // Display popup with details and 'Accept' button
            // Add your custom styling and behavior for the popup

            var confirmation = window.confirm(
                `Emergency Call ID: ${ret['call_id']}\nVehicleNo: ${ret['vehicle_no']}\nIMEINo: ${ret['device_imei']}\n\nPress 'OK' to accept the call.`
            );

            // If the user clicks "OK" in the confirmation dialog
            console.log("confirmation", confirmation);
            if (confirmation) {
                // Call the function to handle the "Accept" action
                acceptCall(ret['call_id']);

                stopBuzzer();
            }
            else {
                rejectCall(ret['call_id']);

                stopBuzzer();
            }
        }

        function acceptCall(call_id) {
            $.ajax({
                type: 'POST',
                url: 'https://skytrack.tech:2000/api/emergency-call-listener-admin/',
                data: JSON.stringify({ 'call_id': call_id, 'accept': true }),
                headers: {
                    'Authorization': '{{ authorization }}'
                },
                contentType: 'application/json',
                success: function (response) {
                    console.log('Data:', response);
                    //window.location.href = 'https://skytrack.tech:2000/api/emergency-call-details/' + call_id;
                    var parentDoc = window.parent.document;

                    // Find the iframe in the parent document. This assumes there's a unique iframe or you know its specific characteristics.
                    /*var iframe = parentDoc.querySelector('iframe');
                    if (iframe) {
                        //iframe.src = newUrl;
                        iframe.src = ;

                    } else {
                        console.error('Iframe not found in parent document');
                    }*/


                    // window.open('https://skytrack.tech:2000/api/emergency-call-details/' + call_id);
                    window.open('https://www.skytrack.tech/mis/sos-call-details/' + call_id);

                    /*
                    const url = `https://www.skytrack.tech/mis/sos-call-details/` + call_id;

                    fetch(url, {
                        method: 'GET',
                        headers: {
                            'Authorization': '{{ authorization }}'
                        },
                    })
                        .then(response => response.text())  // Use response.text() to get HTML content
                        .then(data => {
                            // const newWindow = window.open('', '_blank');
                            // newWindow.document.open();
                            // newWindow.document.write(data);  // Write the fetched HTML into the new window
                            // newWindow.document.close();
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                    */


                },
                error: function (error) {
                    console.error('Error accepting call:', error);
                }
            });


        }

        function rejectCall(call_id) {
            $.ajax({
                type: 'POST',
                url: 'https://skytrack.tech:2000/api/emergency-call-listener-admin/',
                data: JSON.stringify({ 'call_id': call_id, 'accept': false }),
                headers: {
                    'Authorization': '{{ authorization }}'
                },
                contentType: 'application/json',
                success: function (response) {
                    console.log('Data:', response);
                    //window.location.href = 'https://skytrack.tech:2000/api/emergency-call-details/' + call_id;
                    //var parentDoc = window.parent.document;

                    // Find the iframe in the parent document. This assumes there's a unique iframe or you know its specific characteristics.
                    /*var iframe = parentDoc.querySelector('iframe');
                    if (iframe) {
                        //iframe.src = newUrl;
                        iframe.src = ;

                    } else {
                        console.error('Iframe not found in parent document');
                    }*/


                    //window.open('https://skytrack.tech:2000/api/emergency-call-details/' + call_id);


                },
                error: function (error) {
                    console.error('Error rejecting call:', error);
                }
            });


        }


        function loadCallDetails(callId) {
            var url = 'https://skytrack.tech:2000/api/emergency-call-details/' + callId;
            // Assuming the iframe is directly in the parent document 
            console.error('loaidng url to iframe ' + url);

            window.open(url);

        }
    </script>
</head>

<body id="insideiframe">
    <!--   {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}

-->

    <h1>Waiting for Call....</h1>
    <h3>Previus Calls</h3>
    <div id="Running_Calls"></div>

    <!-- Add your HTML content here (e.g., a button to trigger the popup) -->
    <script>
        var audio = new Audio("https://skytrack.tech:2000/static/bell.wav");
        audio.load();


        function playBuzzer() {
            audio.play();
        }

        function stopBuzzer() {
            audio.pause();
            audio.currentTime = 0;
        }
        // document.getElementById('pl').onclick(playBuzzer());

        // Periodically fetch live data updates every 5 seconds
        function fetchLiveCall() {
            console.log('collecting livecall:');

            console.log('url:', 'https://skytrack.tech:2000/api/get-live-call/');
            console.log('url:', '{{ authorization }}');

            const authorization = '{{ authorization }}';









            const a = setInterval(function () {
                $.ajax({
                    url: 'https://skytrack.tech:2000/api/get-live-call/',
                    type: 'GET',

                    headers: {
                        'Authorization': authorization,
                    },
                    success: function (response) {
                        if ('call_id' in response) {
                            // Call the function to show the popup
                            audio.play();
                            showPopup(response);
                        }
                        if ('table_data' in response) {
                            $('#Running_Calls').html(response['table_data']);
                        }
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);


                        console.log('url:', 'https://skytrack.tech:2000/api/get-live-call/');
                        console.log('url:', '{{ authorization }}');
                    }
                });
            }, 1000);
            //fetchLiveData();

            //setInterval(fetchLiveData, 10000);
        }

        // Start fetching live data
        fetchLiveCall();

    </script>
</body>

</html>